:root{
    --background-color: #02000f;
    --text-color: #d8d8d8;
    --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --title-size: 3rem;
    --subtitle-size: 2rem;
    --paragraph-size: 1rem;
    --box-color: #525252;
    --p-line-height: 1.5rem;
    --h-line-height: 1.75rem;
}
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{ 
    background-color: var(--background-color);
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: center;
}
body::-webkit-scrollbar{
    display: none;
}
p{
    line-height: var(--p-line-height);
}
h1,h2,h3,h4,h5,h6{
    line-height: var(--h-line-height);
    margin-bottom: 1rem;
}
p,h1,h2,h3,h4,h5,h6,a{
    color: var(--text-color);
}
h1{
    font-size: var(--title-size);
}
h2{
    font-size: var(--subtitle-size);
}
p{
    font-size: var(--paragraph-size);
}
header{
    width: 80%;
    margin: 2rem 0 4rem;
}
.nav-bar{
    width: 100%;
}
.header-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}
.left{
    width: 40%;
}
.right{
    width: 40%;
}
#profile-pic{
    width: 75%;
    height: 75%;
    border-radius: 50%;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.about-me-text{
    width: 60%;
    text-align: center;
    padding: 2rem;
}
.about-me-text h1{
    padding: 2rem;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sect{
    margin-bottom: 6rem;
    display: grid;
    place-content: center;
    text-align: center;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.menu-item{
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--box-color);
}
.menu-item a{
    padding: 1rem;
    text-decoration: none;
}
.menu-item:hover{
    background-color: #d8d8d8;
    transition: background-color ease-in-out .1s;

}
.menu-item:hover a{
    color: #02000f;
}
.personal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem
}
.personal-info img{
    width: 20rem;
    border-radius: 50%;
}
.box-article{
    
    width: 40rem;
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills{
    display: grid;
    grid: "Header Header Header "
    "Box1 Gap Box2 "
    "Box1 Gap Box2 "
    ;
    /* gap: 1rem; */
    align-items: center;
}
.skills h2{
    grid-area: Header;
    text-align: center;
}
.gap{
    grid-area: Gap;
    width: 2rem;
}